@import url(../../vendor/normalize.css);
@import url(../../vendor/Inter-web/inter.css);

.page {
  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  font-family: "Inter", Helvetica, Arial, sans-serif;
}

.content {
  min-width: 320px;
}

.hover-link:hover {
  transition: opacity 0.3s ease-in;
  opacity: 0.7;
  cursor: pointer;
}

.hover-button:hover {
  transition: opacity 0.3s ease-in;
  opacity: 0.8;
  cursor: pointer;
}

.section {
  padding-inline: 70px;
}

@media (max-width: 768px) {
  .section {
    padding-inline: 50px;
  }
}

@media (max-width: 525px) {
  .section {
    padding-inline: 14px;
  }
}

.section2 {
  padding-inline: 70px;
}

@media (max-width: 768px) {
  .section2 {
    padding-inline: 30px;
  }
}

@media (max-width: 525px) {
  .section2 {
    padding-inline: 10px;
  }
}
