.header__container {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__theme_black {
  background: #202020;
}

.header__theme_blue {
  background-color: #073042;
}
