.movie-card-list {
  padding-top: 70px;
  padding-bottom: 10px;
  background: #202020;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  column-gap: 24px;
  row-gap: 37px;
  list-style-type: none;
  margin: 0;
  justify-content: center;
}

.movies-list__error {
  display: none;
}

.movies-list__error_visible {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #12ec87;
}

.movies-list__not-found {
  display: none;
}

.movies-list__not-found_visible {
  display: block;
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: #12ec87;
}

/*.movie-card-list__error {
  position: absolute;
  text-align: center;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  font-size: 32px;
}*/

@media screen and (max-width: 425px) {
  .movie-card-list {
    padding-bottom: 30px;
    grid-template-columns: repeat(auto-fit, 339px);
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 892px) {
  .movie-card-list {
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 14px;
    padding-top: 50px;
  }
}
