.navigation-profile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #202020;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navigation-profile {
  display: flex;
  align-items: center;
}

.navigation__link {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.navigation__link::after {
	content: "";
	position: absolute;
	left: 0;
	display: block;
	width: 0;
	height: 2px;
	background-color: #fff;
	transition: width 0.3s ease-out;
}

.navigation__link:hover::after,
.navigation__link:focus::after {
	width: 100%; 
}

.active {
  color: #3ddc84;
}

.navigation__link_loggedin {
  margin-right: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.navigation__link-main {
  display: none;
}

.navigation__account-button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: 100px;
  height: 32px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
}

.navigation__account-icon {
  background-image: url(../../../images/logo-account.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 14px;
  margin-right: 7px;
}

.navigation__popup-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
  }

  .navigation__popup {
    display: none;
  }

  .navigation__popup_open {
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    right: 0;
    z-index: 2;
    background-color: #202020;
  }

  .navigation__popup-button {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
  }

  .navigation__popup-button_burger {
    background-image: url(../../../images/icon-burger.svg);
    background-color: #202020;
    width: 44px;
    height: 44px;
  }

  .navigation__popup-button_close {
    background-image: url(../../../images/Icon_close_burger.svg);
    width: 22px;
    height: 22px;
    align-self: end;
    margin: 22px 22px 0;
    background-color: #202020;
  }

  .navigation__link_loggedin {
    margin: 0 0 28px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }

  .navigation__link-main {
    display: flex;
    margin-top: 105px;
  }

  .navigation__account-button {
    margin: 0;
    position: absolute;
    bottom: 90px;
  }
}

@media screen and (max-width: 425px) {
  .navigation__popup_open {
    width: 100%;
  }

  .navigation__popup-button_burger {
    width: 40px;
    height: 43px;
  }

  .navigation__popup-button_close {
    margin: 13px 13px 0;
  }

  .navigation__link_loggedin {
    margin-bottom: 24px;
  }

  .navigation__link-main {
    margin-top: 99px;
  }

  .navigation__account-button {
    bottom: 46px;
  }
}
