.more {
  padding-inline: 70px;
  background: #202020;
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.more__button {
  border: none;
  cursor: pointer;
  background-color: #2f2f2f;
  border-radius: 6px;
  width: 1140px;
  height: 36px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.more__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 892px) {
  .more {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 425px) {
    .more {
      padding-inline: 10px;
    }
  }
