.movies {
  background: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image image"
    "title button"
    "duration duration";
}

.movie__trailer {
  grid-area: image;
}

.movies__img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  height: 203px;
}

.movies__title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  margin: 16px 12px 17px 16px;
  grid-area: title;
}

.movies__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;

  align-items: center;
  margin: 0 0 16px 16px;
  color: #8b8b8b;
  grid-area: duration;
}

.movies__button {
  background-repeat: no-repeat;
  width: 14px;
  height: 12px;
  border: none;
  cursor: pointer;
  padding: 0;
  grid-area: button;
  background-position: center;
  margin: 18px 9px 0 0;
  background-color: #222222;
}

.movies__button-save {
  background-image: url(../../../images/iconizer-icon-save.svg);
}

.movie__button-delete {
  background-image: url(../../../images/btn-delete-icon.svg);
}

.movie__button-saved {
  background-image: url(../../../images/icon-save2.svg);
}
