.search-form {
  background: #202020;
  padding-top: 70px;
}

.search-form__container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  border-radius: 9px;
  padding-right: 30px;
  background-color: #2f2f2f;
}

.search-form__film {
  padding-bottom: 70px;
  border-bottom: 1px solid #424242;
}

.search-form__input {
  flex-grow: 1;
  border: none;
  height: 22px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background: #2f2f2f;
  padding: 0;
  color: #8b8b8b;
}

.search-form__lupa {
  width: 35px;
  height: 35px;
  margin-left: 19px;
}

.search-form__button {
  padding: 0;
  background-image: url(../../../images/find.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 34px;
  margin-right: 30px;
  border-radius: 20px;
  border: none;
}

.search-form__border {
  margin-right: 29px;
  background: #424242;
}

.search__error {
  
  left: 50%;
  
  font-weight: 400;
  font-size: 13px;
  color: red;
  
}

@media screen and (max-width: 768px) {
  .search-form {
    padding-top: 80px;
  }

  .search-form__film {
    padding-bottom: 109px;
  }

  .search-form__container {
    padding-right: 20px;
  }

  .search-form__button {
    margin-right: 19px;
  }

  .search-form__border {
    margin-right: 19px;
    background: #505050;
  }
}

@media screen and (max-width: 640px) {
  .search-form__container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "input  button"
      "checkbox checkbox";
    row-gap: 65px;
    position: relative;
    padding-top: 19px;
    height: 53px;
  }

  .search-form__input {
    margin-left: 19px;
    font-size: 14px;
    line-height: 20px;
    grid-area: input;
  }

  .search-form__lupa {
    display: none;
  }

  .search-form__border {
    display: none;
  }

  .search-form__button {
    grid-area: button;
    margin-right: 19px;
  }

  .search-form__checkbox {
    grid-area: checkbox;
    position: absolute;
    left: 0;
    right: 0;
  }
}
